{% extends 'base.html.twig' %}

{% block body %}
  <div style="margin-top: 5%" class="row">
    <div class="col-6" style="text-align: left">
    <h1 style="font-weight: 600; font-size: 50px"><span style="color: #4cc3ea">Fuel</span> up others with your content</h1>
    <p style="font-size: 19px; color: #9ba0ae">Share your passions and ideas on ReadFuel, where any topic is welcome and creativity thrives!</p>
    <button class="btn btn-primary" style="background: #4bc4ea; border-color: #4bc4ea; padding: 10px; width: 300px; font-size: 14px;">ADD MORE FUEL</button>
    <p style="padding-top: 15px">Already have an account? Log in</p>
    </div>
    <div class="col-6" style="text-align: left">
    <h1 style="font-weight: 600; font-size: 50px">The more <span style="color: #4cc3ea">fuel</span> you bring, the more buzz you'll ignite!</h1>
    <p style="font-size: 19px; color: #9ba0ae">Not ready to join? No worries—feel free to explore our entire gas station at your own pace!</p>
    <button class="btn btn-primary" style="background: #694bea; border-color: #694bea; padding: 10px; width: 300px; font-size: 14px;">EXPLORE GAS STATION</button>
    </div>
  </div>
{% endblock %}
